.container{
    display: flex;
    flex-direction: column;
    width: 425px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
}
.item{
    width: 90px;
    height: 25px;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
    font-size: medium;
    border: none;    
    background-color: rgb(234, 234, 234);
    transition: transform 0.2s; /* Smooth transition for transform */
}

.item:active {
    transform: scale(0.9); /* Make the button smaller when clicked */
}
.equal{
    font-size: large;
    color: white;
    border: none;;
    background-color: rgb(34, 116, 218);
}
.op{
    font-size: large;
    border: none;
    background-color: rgb(197, 197, 197);
}
.extra{
    font-size: larger;
}
.con0{
    display: flex;
}
.clear{
    border: none;    
    background-color: rgb(234, 234, 234);
    border-radius: 5px;
    height: 25px;
    width: 90px;
    margin: 8px;
}
.input{
    width: 293px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(209, 206, 206);
    margin: 5px;
    text-align: right;
}